@use '../variables' as *;

.site-container {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    h1, h2, h3, h4 {
        font-family: 'Ubuntu', sans-serif;
    }
    h2, h3, h4 {
        color: $color-text-accent;
    }
    h2 {
        font-weight: 700;
    }
    p, li {
        font-size: 1.125rem;
    }
    li {
        list-style-type: square;
    }
    .template-container {
        flex: 1;
    }
    .list-files {
        padding: 0;
        li {
            list-style-type: none;
            font-size: 1.25rem;
        }
        i {
            font-size: 1.5rem;
            color: $color-text-accent;
        }
        span {
            padding-left: 0.675rem;
        }
        a:hover span {
            text-decoration: underline;
        }
    }
}