$color-text-main: #000;
$color-text-accent: #CB99C9;
$color-text-main-dark: #FFF;
$color-text-main-dark-accent: #DDD;
$color-bg-main: #FCFCFC;
$color-bg-accent: #CB99C9;
$color-bg-neutral: #DDD;
$color-bg-light: #e0cbe0;
$color-bg-neutral-hover: #D1D1D1;