@import '../variables';

.block-banner {
    height: 500px;
    width: calc(100%);
    background-color: #E2CCFF;
    .container {
        position: relative;
    }
    .main-text, img {
        position: absolute;
    }
    .main-text {
        h1 {
            font-weight: 700;
        }
        p {
            font-weight: 600;
            font-size: 1.125rem;
        }
        color: $color-text-main-dark;
        text-shadow: 2px 2px 5px #555;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
    }
    .banner-left {
        div {
            left: 10%;
        }
        img {
            right: 10%;
        }
    }
    .banner-right {
        div {
            right: 10%;
        }
        img {
            left: 10%;
        }
    }
    img {
        height: 100%;
    }
}
/* Media queries */
@media (max-width: 767.98px) {
    .block-banner {
        height: 400px;
        .main-text {
            width: 50%;
        }
        .banner-left {
            div {
                left: 15px;
            }
            img {
                right: 15px;
            }
        }
        .banner-right {
            div {
                right: 15px;
            }
            img {
                left: 15px;
            }
        }
    }
}
@media (max-width: 575.98px) {
    .block-banner {
        .main-text {
            width: 95%;
            top: auto;
            transform: none;
            bottom: 10%;
        }
    }
}