@use '../variables' as *;

.block-offset {
    min-height: 200px;
    h3 {
        color: $color-text-main;
    }
    .main-img, .main-text {
        max-height: 250px;
    }
    .main-img {
        .img-inner {
            overflow: hidden;
            height: 100%;
            position: relative;
            .img-credit {
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0.25rem;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.5);
                &, a {
                    color: $color-text-main-dark;
                }
                a:hover, a:focus {
                    color: $color-text-main-dark-accent;
                }
            }
        }
    }
    &.offset-left {
        .main-img {
            order: 1;
        }
        .main-text {
            order: 2;
        }
    }
    &.offset-right {
        .main-img {
            order: 2;
        }
        .main-text {
            order: 1;
        }
    }
    .text-outer {
        height: 100%;
        padding: 2rem;
        background-color: $color-bg-neutral;
        .text-inner {
            margin: auto 0;
        }
    }
    @media (max-width: 991.98px) {
        .main-img {
            max-height: 150px;
            
        }
        .main-text {
            max-height: none;
        }
        &.offset-right {
            .main-img {
                order: 1;
            }
            .main-text {
                order: 2;
            }
        }
    }
    @media (max-width: 767.98px) {
        
    }
}
