@use '../variables' as *;

.block-offset {
    min-height: 200px;
    .main-img, .main-text {
        max-height: 250px
    }
    .main-img {
        .img-inner {
            overflow: hidden;
            height: 100%;
        }
    }
    &.offset-left {
        .main-img {
            order: 1;
        }
        .main-text {
            order: 2;
        }
    }
    &.offset-right {
        .main-img {
            order: 2;
        }
        .main-text {
            order: 1;
        }
    }
    .text-outer {
        height: 100%;
        padding: 2rem;
        background-color: $color-bg-neutral;
        .text-inner {
            margin: auto 0;
        }
    }
}

@media (max-width: 767.98px) {
    .block-offset {
        .main-img {
            max-height: 150px;
            
        }
        .main-text {
            max-height: none;
        }
        &.offset-right {
            .main-img {
                order: 1;
            }
            .main-text {
                order: 2;
            }
        }
    }
}