@use '../variables' as *;

.site-footer {
    padding: 0.5rem 0;
    flex: none;
    .container {
        span {
            width: 100%;
            &:first-of-type {
                text-align: left;
            }
            &:last-of-type {
                text-align: right;
            }
        }
    }
    /* Media queries */
    @media (max-width: 767.98px) and (min-width: 576px) {
        .container span {
            &:first-of-type {
                width: 40%;
            }
            &:last-of-type {
                width: 60%;
            }
        }
    }
    @media (max-width: 575.98px) {
        flex-direction: column;
        span:first-of-type,
        span:last-of-type {
            text-align: center;
        }
    }
}