@import '../variables';

.site-header {
    border-bottom: 2px solid $color-bg-accent;
    flex: none;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1.5rem;
        img {
            width: 25%;
        }
        nav {
            align-items: flex-end;
            a {
                position: relative;
                font-size: 1.5rem;
                margin: 0 0.5rem;
            }
            a:last-of-type {
                margin-right: 0;
            }
            /* Code for underline animation from css-irl.info */
            a::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.125em;
                background-color: $color-bg-accent;
                opacity: 1;
            }
            a:not(.link-active)::after {
                transition: opacity 300ms, transform 300ms;
                transform: scale(0);
                transform-origin: center;
            }
            a:not(.link-active):hover::after,
            a:not(.link-active):focus::after {
                transform: scale(1);
            }
        }
    }
}

/* Media queries */
@media (max-width: 991.98px) {
    .site-header {
        .container {
            nav a {
                font-size: 1.375rem;
            }
        }
    }
}
@media (max-width: 767.98px) {
    .site-header {
        .container {
            img {
                width: 40%;
            }
        }
    }
}