@use '../variables' as *;

.site-section {
    margin-bottom: 2rem;
    &.compact-section {
        margin-bottom: 0.5rem;
    }
    &.full-width {
        .row {
            margin: 0;
            .col-12 {
                padding: 0;
            }
        }
    }
}