.site-container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.site-container h1, .site-container h2, .site-container h3, .site-container h4 {
  font-family: "Ubuntu", sans-serif;
}
.site-container h2, .site-container h3 {
  color: #CB99C9;
}
.site-container h2 {
  font-weight: 700;
}
.site-container p {
  font-size: 1.125rem;
}
.site-container .template-container {
  flex: 1;
}

.site-header {
  border-bottom: 2px solid #CB99C9;
  flex: none;
  /* Media queries */
}
.site-header .container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}
.site-header .container img {
  width: 25%;
}
.site-header .container nav {
  font-family: "Ubuntu", sans-serif;
  align-items: flex-end;
  /* Code for underline animation from css-irl.info */
}
.site-header .container nav a {
  position: relative;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
.site-header .container nav a:last-of-type {
  margin-right: 0;
}
.site-header .container nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125em;
  background-color: #CB99C9;
  opacity: 1;
}
.site-header .container nav a:not(.link-active)::after {
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}
.site-header .container nav a:not(.link-active):hover::after,
.site-header .container nav a:not(.link-active):focus::after {
  transform: scale(1);
}
@media (max-width: 991.98px) {
  .site-header .container nav a {
    font-size: 1.375rem;
  }
}
@media (max-width: 767.98px) {
  .site-header .container img {
    width: 40%;
  }
}

.site-footer {
  padding: 0.5rem 0;
  flex: none;
  /* Media queries */
}
.site-footer .container span {
  width: 100%;
}
.site-footer .container span:first-of-type {
  text-align: left;
}
.site-footer .container span:last-of-type {
  text-align: right;
}
@media (max-width: 767.98px) and (min-width: 576px) {
  .site-footer .container span:first-of-type {
    width: 40%;
  }
  .site-footer .container span:last-of-type {
    width: 60%;
  }
}
@media (max-width: 575.98px) {
  .site-footer {
    flex-direction: column;
  }
  .site-footer span:first-of-type,
.site-footer span:last-of-type {
    text-align: center;
  }
}

.site-section {
  margin-bottom: 2rem;
}
.site-section.compact-section {
  margin-bottom: 0.5rem;
}

.block-banner {
  height: 500px;
  width: 100%;
  background-color: #E2CCFF;
  /* Media queries */
}
.block-banner .inner-banner:not(.full-image) {
  position: relative;
}
.block-banner .inner-banner:not(.full-image) .main-text, .block-banner .inner-banner:not(.full-image) img {
  position: absolute;
}
.block-banner .inner-banner:not(.full-image) img {
  height: 100%;
}
.block-banner .main-text {
  color: #FFF;
  text-shadow: 2px 2px 5px #555;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
}
.block-banner .main-text h1 {
  font-weight: 700;
}
.block-banner .main-text p {
  font-weight: 600;
}
.block-banner .banner-left div {
  left: 10%;
}
.block-banner .banner-left img {
  right: 10%;
}
.block-banner .banner-right div {
  right: 10%;
}
.block-banner .banner-right img {
  left: 10%;
}
@media (max-width: 767.98px) {
  .block-banner {
    height: 400px;
  }
  .block-banner .main-text {
    width: 50%;
  }
  .block-banner .banner-left div {
    left: 15px;
  }
  .block-banner .banner-left img {
    right: 15px;
  }
  .block-banner .banner-right div {
    right: 15px;
  }
  .block-banner .banner-right img {
    left: 15px;
  }
}
@media (max-width: 575.98px) {
  .block-banner .main-text {
    width: 95%;
    top: auto;
    transform: none;
    bottom: 10%;
  }
  .block-banner .banner-left img {
    right: 50%;
    transform: translateX(50%);
  }
  .block-banner .banner-right img {
    left: 50%;
    transform: translateX(-50%);
  }
}

.block-card {
  padding-bottom: 1rem;
  height: 100%;
}
.block-card .card-content {
  box-shadow: 0 0 0.1875rem #555;
  padding: 0.625rem;
  padding-bottom: 0.875rem;
  height: 100%;
  text-align: center;
}
.block-card .card-content.card-accent {
  background-color: #CB99C9;
}
.block-card .card-content.card-neutral {
  background-color: #DDD;
}
.block-card .card-content.card-light {
  background-color: #e0cbe0;
}
.block-card .card-content p {
  margin-bottom: 0;
}
.block-card .card-content i {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.block-offset {
  min-height: 200px;
}
.block-offset h3 {
  color: #000;
}
.block-offset .main-img, .block-offset .main-text {
  max-height: 250px;
}
.block-offset .main-img .img-inner {
  overflow: hidden;
  height: 100%;
}
.block-offset.offset-left .main-img {
  order: 1;
}
.block-offset.offset-left .main-text {
  order: 2;
}
.block-offset.offset-right .main-img {
  order: 2;
}
.block-offset.offset-right .main-text {
  order: 1;
}
.block-offset .text-outer {
  height: 100%;
  padding: 2rem;
  background-color: #DDD;
}
.block-offset .text-outer .text-inner {
  margin: auto 0;
}

@media (max-width: 767.98px) {
  .block-offset .main-img {
    max-height: 150px;
  }
  .block-offset .main-text {
    max-height: none;
  }
  .block-offset.offset-right .main-img {
    order: 1;
  }
  .block-offset.offset-right .main-text {
    order: 2;
  }
}
.block-subheading {
  display: flex;
  margin-bottom: 1rem;
}
.block-subheading.sub-right .main-img, .block-subheading.sub-left .main-img {
  flex: 0 0 40%;
  margin: auto;
}
.block-subheading.sub-right .main-text, .block-subheading.sub-left .main-text {
  flex: 0 0 60%;
}
.block-subheading.sub-right .main-img {
  order: 1;
}
.block-subheading.sub-right .main-text {
  order: 2;
  padding-left: 1rem;
}
.block-subheading.sub-left .main-img {
  order: 2;
}
.block-subheading.sub-left .main-text {
  order: 1;
  padding-right: 1rem;
}
.block-subheading img {
  width: 100%;
}
@media (min-width: 992px) {
  .block-subheading .main-text p:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 991.98px) {
  .block-subheading.sub-right, .block-subheading.sub-left {
    flex-direction: column;
  }
  .block-subheading.sub-right .main-img, .block-subheading.sub-left .main-img {
    flex: 1;
    order: 2;
  }
  .block-subheading.sub-right .main-img .img-inner, .block-subheading.sub-left .main-img .img-inner {
    height: 250px;
  }
  .block-subheading.sub-right .main-text, .block-subheading.sub-left .main-text {
    flex: 1;
    order: 1;
    padding: 0;
  }
}

.block-portfoliocard {
  padding-bottom: 1rem;
}
.block-portfoliocard, .block-portfoliocard .main-card {
  height: 100%;
}
.block-portfoliocard .main-card {
  padding: 0.75rem;
  background-color: #DDD;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 0 0;
}
.block-portfoliocard .main-card:hover {
  background-color: #D1D1D1;
  box-shadow: 0 0 0.375rem #000;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.block-portfoliocard .main-card a {
  text-decoration: none;
}
.block-portfoliocard .main-card a:hover {
  color: #000;
}
.block-portfoliocard .main-card h3 {
  color: #000;
  padding-top: 0.5rem;
}
.block-portfoliocard .main-card p {
  margin-bottom: 0;
}
.block-portfoliocard .main-card img {
  max-width: 100%;
}

/* Pages & Templates */
/* Components */
/* Blocks */
/* Variables */
/* Background specific styling */
.bg-main {
  background-color: #FCFCFC;
  color: #000;
}
.bg-main a, .bg-main a:hover {
  text-decoration: none;
  color: #000;
}

.bg-accent {
  background-color: #CB99C9;
  color: #FFF;
}
.bg-accent a, .bg-accent a:hover {
  text-decoration: none;
  color: #FFF;
}
.bg-accent .anim-hover {
  transition: color 0.25s ease;
}
.bg-accent .anim-hover:hover {
  color: #DDD;
}

/* Overflow styling */
.overflow-hidden .center-y {
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}
.overflow-hidden .center-x {
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
}

/* Section type styling */
.full-width .row {
  margin: 0;
}
.full-width .row .col-12 {
  padding: 0;
}

/* Button styling */
.btn.btn-accent {
  background-color: #CB99C9;
  color: #FFF;
}
.btn.btn-accent:hover {
  color: #DDD;
}

/* Media queries */
@media (max-width: 767.98px) {
  .container {
    max-width: min(100%, 650px) !important;
  }
}
